* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
}

body {
    background: #eee;
}


/* TOPBAR
--------------------------------- */
.topbar {
    background: #2E90DA;
    background-color: #4477B2;
    background-color: #2DBE60;
    clear: both;
    height: 60px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 9;
}
.topbar__logo {
    background: #0777C7;
    background-color: #396699;
    background-color: #25A351;
    color: #8C3436;
    font-weight: bold;
    height: 100%;
    padding: 20px 30px;
    position: absolute;
    width: 220px;
}
.topbar__extras {
    margin-left: 220px;
    padding: 20px;
    position: relative;
}

.topbar__tool-exit, .topbar__tool-exit:visited, .topbar__tool-exit:active {
    color: #fff;
    float: right;
    font-weight: bold;
}
.topbar__tool-exit:hover {
    color: #D84F53;
    color: #8C3436;
}
.topbar__tool-exit span {
    display: none;
}
.topbar__tool-exit:hover span {
    display: inline;
}

.topbar__tool-exit .fa {
    font-size: 1.25em;
    margin-left: 5px;
}

.topbar__hamburger {
    cursor: pointer;
    display: none;
    position: absolute;
    right: 20px;
    top: 14px;
}
.topbar__hamburger div {
    background: #fff;
    height: 3px;
    margin: 6px 0;
    width: 35px;
}
.topbar__hamburger:hover div {
    background: #D84F53;
}


/* MENU
--------------------------------- */
.menu {
    background: #eee;
    position: absolute;
    height: 100%;
    padding-top: 60px;
    width: 220px;
}

.menu__items  {
    margin: 0;
    padding: 0;
}
a.menu__item, a.menu__item:visited, a.menu__item:active, a.menu__item:focus {
    border-bottom: 1px solid #ddd;
    color: #777;
    display: block;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.5;
    overflow: hidden;
    padding: 20px 30px;
    position: relative;
    text-transform: uppercase;
}
a.menu__item:hover {
    background: #888;
    color: #fff;
}
a.menu__item .fa {
    color: #999;
    float: left;
    font-size: 1.5em;
    width: 37px;
}
a.menu__item:hover .fa {
    color: #bbb;
}
a.menu__item span {
    display: block;
    float: left;
    padding-top: 1px;
}
a.menu__item--exit {
    display: none;
}
a.menu__item--active {
    background: #fff;
    border-bottom: 1px solid #fff !important;
}
a.menu__item--active:hover {
    background: #fff;
    border-bottom: 1px solid #fff;
    color: #616177
}
a.menu__item--active .fa {
    color: #25A351;
}
a.menu__item--active:hover .fa{
    color: #25A351;
}



a.menu__item--settings, a.menu__item--settings:visited, a.menu__item--settings:active, a.menu__item--settings:focus {
    background: #ccc;
    bottom: 0px;
    margin-bottom: -1px;
    position: absolute;
    width: 100%;
}
a.menu__item--settings:hover {
    background-color: #888;
}

a.menu__item--gotosite, a.menu__item--gotosite:visited, a.menu__item--gotosite:active, a.menu__item--gotosite:focus {
    border: 0;
    background: #46465A; /* lighten dark blue */
    background: #D84F53; /* red topbar logo */
    background: #5bbc2e; /* green */
    color: #fff;
    margin: 30px 30px 30px;
    padding: 13px 0;
    text-align: center;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
a.menu__item--gotosite:hover {
    background: #F75F64; /* red topbar */

    background: #67D334; /* light green */
    /*color: #428920;*/
}
a.menu__item--gotosite .fa {
    color: #fff;
    float: none;
    font-size: 14px;
    margin-left: 3px;
    position: absolute;
    right: 12px;
    top: 15px;

    -webkit-transition: right 0.20s ease-in-out;
    -moz-transition: right 0.20s ease-in-out;
    -ms-transition: right 0.20s ease-in-out;
    -o-transition: right 0.20s ease-in-out;
    transition: right 0.2s ease-in-out;
}
a.menu__item--gotosite:hover .fa {
    right: 7px;
}

/* CANVAS & CONTENT
--------------------------------- */
.canvas {
    background-color: white;
    border-right: 1px solid #ddd;
    height: 100%;
    margin-left: 220px;
    max-width: 1050px;
    padding-top: 60px;
    position: absolute;
    width: 100%;
}
.content {
    /*margin: 30px 30px 0 30px;*/
    margin: 45px;
    max-width: 1000px;
}


/* RESPONSIVE: CANVAS
--------------------------------- */
@media (max-width: 1270px) {
    body {
        background: #fff;
    }
    .canvas {
        border: 0;
        margin-left: 220px;
        max-width: auto;
        position: relative;
        width: auto;
    }
}


/* RESPONSIVE: LAYOUT
--------------------------------- */
@media (max-width: 840px) {
    .topbar {
        position: relative;
    }
    .topbar__logo {
        background-color: transparent;
        padding-left: 20px;
    }
    .topbar__tools {
        display: none;
    }
    .topbar__hamburger {
        display: block;
    }

    .menu {
        height: auto;
        position: fixed;
        margin: 0;
        padding-top: 0px;
        padding-top: 0;
        top: 60px;
        width: 100%;
        z-index: 20;
    }
    a.menu__item, a.menu__item:visited, a.menu__item:active, a.menu__item:focus  {
        padding-left: 20px;
    }
    a.menu__item--settings {
        background: transparent;
        position: relative;
    }
    a.menu__item--exit {
        display: block;
    }
    a.menu__item--active, a.menu__item--active:visited, a.menu__item--active:active, a.menu__item--active:focus {
        background: transparent;
        border-bottom: 1px solid #ddd !important;
        color: #fff;
    }
    a.menu__item--active:hover {
        background: #888;
        border-bottom: 1px solid #46465A;
        color: #fff;
    }

    a.menu__item--active .fa {
        color: #888;
    }

    .canvas {
        margin: 0;
        padding: 0;
    }
    .content {
        margin: 20px;
    }
}
