<!DOCTYPE html>
{% load staticfiles %}
<html lang="pt-br">
<head>
    <meta charset = "utf-8" />
    <title>Widget Donate Now</title>
    <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
    <script src="{% static 'donatenow/js/app.js' %}"></script>
    
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">

    <!-- Windows/IE font smoothing -->
    <!--[if IEMobile]>  <meta http-equiv="cleartype" content="on">  <![endif]-->

    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1"><![endif]-->
    <!--[if lt IE 7]><meta http-equiv="imagetoolbar" content="no"><![endif]-->
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}" />
    <link rel="stylesheet" href="{% static 'css/scafolding.css' %}" />
    <link rel="stylesheet" href="{% static 'donatenow/css/app.css' %}" />
    <link rel="stylesheet" href="{% static 'donatenow/css/discover.css' %}" />

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
      <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE8.js"></script>
    <![endif]-->
</head>
<body>
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
        <div class="front">
            <table>
            <tr>
                <td><img src="{% static 'donatenow/img/RedCross.jpg'%}"style=" height: 90px; width:110px;"></td>
                <td> American Red Cross</td>
            </tr>
            </table>
               
                <h5>the American Red Cross offers services in: community services that help the needy; communications services and comfort for military members and their family members; the collection, processing and distribution of blood and blood products; educational programs on preparedness, health, and safety; and international relief and development programs</h5>
           
        
            <button style="background-color:grey">Add me to your blog</button> <!-- front content -->
        </div>
        
        <div class="back">
            <!-- back content -->
            <h4 style="color:black">copy me and paste it into your blog</h4>
        </div>
        </div>
        
        
    </div>
</body>
	
</html>
